/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}

header {
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index:9999;
}

header img {
	float: left;
	height: 78px;
	transition: all 0.5s;
}

header span#darkmode {
	position: absolute;
	right: 20px;
	font-size: 30px;
	top: 24px;
	font-weight: lighter;
}

nav {
	margin: 0;
	background-color: #ff5757;
	transition: all 0.5s;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav ul li {
	position: relative;
	display: inline-block;
}

nav ul li:hover ul {
	display: block;
}

nav ul li a {
	text-decoration: none;
	display: inline-block;
	padding: 30px 20px;
	color: black;
	transition: all 0.3s;
}

nav ul li a:hover {
	background-color: black;
	color: #ff5757;
}


nav ul ul {
	position: absolute;
	display: none;
	width: 100%;
	z-index: 999;
	background-color: #ff5757;
}

nav ul ul li {
	display: block;
	margin: 0;
}

nav ul ul li a {
	padding: 30px 0;
	width: 100%;
}

.search-field {
	display: inline;
	position: relative;
}

.search-field input[type=text] {
	border: 1px solid black;
	border-radius: 50px;
	font-weight: bold;
	height: 40px;
	margin: 0 30px;
	padding-left: 40px;
	width: 200px;
	transition: all 0.3s;
}

.search-field:hover input[type=text] {
	width: 300px;
}

.search-field i {
	position: absolute;
	z-index: 999;
	left: 47px;
	top: 13px;
}

div.search-results {
	position: absolute;
	top: 48px;
	left: 0;
	width: 100%;
	background-color: #ff5757;
	transition: 0.3s all;
}


div.search-results article.result {
	margin: 0;
}

div.search-results article.result a {
	text-decoration: none;
	color: black;
	padding: 30px 0;
	width: 100%;
	display: inline-block;
	border-top: 1px solid black;
}

div.search-results article.showall a{
	text-decoration: none;
	color: black;
	padding: 10px 0;
	width: 100%;
	display: inline-block;
	border-top: 1px solid black;
}

div.search-results article.result a:hover {

	font-weight: bold;
}


main {
	margin-top: 130px;
}

main#search-page {
	min-height: 700px;
}

main#search-page h2, main#search-page h1 {
	margin: 40px 20px;
}

h1.name{
  font-size: 100px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 5px solid;
  width: 50%;
}

main section.category {
	width: 80%;
	border: 3px solid black;
	border-radius: 10px;
	margin: 40px auto;
	text-align: center;
	position: relative;
}

main section.category h2 {
	text-align: left;
	position: absolute;
	top: -16px;
	left: 25px;
	background-color: white;
	padding: 0 20px;
}

main section.category h3 {
	position: absolute;
	top: -13px;
	right: 25px;
	background-color: white;
	padding: 0 20px;
}

main section.category h3 a {
	text-decoration: none;
	color: #ff5757;
}

main section.category article {
	width: 19%;
	display: inline-block;
	margin: 45px 30px 35px 30px;
	position: relative;
}

main section.category article img {
	width: 100%;
}

main section.category article i {
	margin: 10px 3px;
}

main section.category article a div.overlay {
	background-color: black;
	z-index: 999;
}

main section.category article a div.overlay p {
	color: white;
	font-size: 20px;
	margin: 30px;
	text-align: center;
}

main section.category article a div.overlay p.movie-title {
	font-weight: bold;
}

main section.category article:hover .overlay {
	opacity: 0.8;
}

main section.category article a div.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 92%;
	width: 100%;
	opacity: 0;
	transition: 0.3s all;
	background-color: black;
}

section.movies{
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

section.movies article{
  display: inline-block;
  width: 15%;
  border-bottom: 2px solid;
  margin: 10px;
  transition: 0.3s all;
}

section.movies article:hover {
	transform: scale(1.1);
}

section.movies article h3{
  margin-bottom: 5px;
}

section.movies article img{
  width: 100%;
}

main h1#movie-title {
	text-align: center;
	margin: 20px;
}

main section#movie {
	width: 100%;
	text-align: center;
	margin: 30px auto;
}

main section#movie table {
	border-collapse: collapse;
	width: 70%;
	margin: 10px 30px;
	display: inline-block;
	vertical-align: middle;
}

main section#movie table td {
	border-bottom: 1px solid black;
	padding: 15px;
}

main section#movie table td#stream {
	position: relative;
}

main section#movie img.poster {
	width: 20%;
	margin: 10px 30px;
	display: inline-block;
	vertical-align: middle;
}

.fullScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    margin: 0;
    padding: 0;
}

main section#form {
	width: 40%;
	border: 3px solid black;
	border-radius: 10px;
	margin: 200px auto 150px auto;
	text-align: center;
	position: relative;
}

main section#form h1 {
	text-align: center;
	position: absolute;
	top: -16px;
	left: 25px;
	background-color: white;
	padding: 0 20px;
}

main section#form p {
	margin: 0 auto;
	width: 80%;
	text-align: left;
}

main section#form label, main section#form img {
	margin: 0 auto;
	width: 35%;
	display: inline-block;
	text-align: left;
}

main section#form label[for=rememberme], main section#form label[for=years] {
	margin: 0 auto;
	width: 40%;
	display: inline-block;
	text-align: left;
}

main section#form input[type=text], main section#form input[type=password], main section#form input[type=email] {
	margin: 60px 0 30px 0;
	font-size: 24px;
	width: 60%;
}

main section#form textarea {
	margin: 60px 0 30px 0;
	font-size: 24px;
	width: 60%;
}

main section#form input[type=submit] {
	outline: none;
	background: none;
	border: 1px solid black;
	padding: 15px 25px;
	margin: 50px 0;
	transition: 0.3s all;
	width: 40%;
	display: inline-block;
}

main section#form input[value=Send], main section#form input[value=Add]{
	width: 100%;
	margin: 50px 0;
}

main section#form input[type=submit]:hover {

	background-color: #ff5757;
	border: 1px solid #ff5757;
	cursor: pointer;
	padding: 15px 25px;
}

main div a#showall {
	border: 1px solid black;
	padding: 15px 25px;
	margin: 10px 20px;
	transition: 0.3s all;
	display: inline-block;
	text-decoration: none;
	color: black;
}

main div a#showall:hover {
	background-color: #ff5757;
	border: 1px solid #ff5757;
}

footer {
	background-color: #000;
	color: #ff5757;
	text-align: center;
	height: 300px;
	position: relative;
}

footer p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer a{
	text-decoration: none;
	color: #ff5757;
}


@media only screen and (max-width: 1600px) {
	section.movies article{
		width: 20%;
		margin: 20px 10px;
	}
	h1.name {
		font-size: 80px;
	}
}

@media only screen and (max-width: 1200px) {
	main section.category article {
		width:40%;
		display: inline-block;
	}
	main section#form {
		width: 95%;
	}
	main section#form p {
		margin: 0 auto;
		width: 90%;
		text-align: left;
	}
	main section#form label, main section#form img, main section#form input[type=text], main section#form input[type=password], main section#form input[type=email] {
		display: block;
		margin: 30px 0;
		width: 100%;
	}

	main section#form textarea {
		margin: 0 0 30px 0;
		font-size: 24px;
		width: 100%;
	}

	main section#form label[for=rememberme], main section#form label[for=years] {
		width: 45%;
	}

	main section#form input[type=submit] {

		width: 45%;
	}


	main section#form input[value=Send], main section#form input[value=Add]{
		width: 100%;
		margin: 50px auto;
	}

	section.movies article{
		width: 30%;
		margin: 30px 10px;
	}

	h1.name {
		font-size: 60px;
	}
}

@media only screen and (max-width: 890px) {
	main section.category article {
		width:85%;
		display: block;
		margin: 45px auto 35px auto;
	}

	main section#movie {
		width: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	main section#movie table {
		width: 100%;
		margin: 10px auto;
		display: inline-block;
		vertical-align: middle;
	}

	main section#movie img.poster {
		width: 80%;
		margin: 10px auto;
		display: inline-block;
		vertical-align: middle;
	}

	section.movies article{
		width: 45%;
		margin: 30px 10px;
	}
}

@media only screen and (max-width: 445px){
	section.movies article{
		width: 80%;
		margin: 30px 10px;
	}
}
